## while
- it executes block or set of instructions until the conditions
- while we don't the range
- execute faster than the for loop
+ user incrementation

### while syntax
initilization  
while condition:  
    statements  
    increment/decrement

In [5]:
n=1
while n<4:
    print("vasavi college")
    n=n+1

vasavi college
vasavi college
vasavi college

In [9]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [12]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1    #1234%10=4 123%10=3 12%10=2
    s=s//10
    print("\nDigit count:",c)

456789

Digit count: 1

Digit count: 2

Digit count: 3

Digit count: 4

Digit count: 5

Digit count: 6

In [15]:
# check the given palindrome or not
# 121--121
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not palindrome")

121
palindrome

### Nested for loop
#### syntax::
- for iter in range(start,end,step):  
    for iter in range(start,end,step):
        statement1
        ----------
        statementn

### Matrix format
- rows,columns
- 2-Dimensional  
     1 2  
     3 2

In [17]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()   # new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [21]:
for row in range(1,5):
    for column in range(1,5):
        print("$",end="  ")
    print()   # new line

$  $  $  $
$  $  $  $
$  $  $  $
$  $  $  $

In [24]:
for row in range(1,6):
    for column in range(1,row+1):
        print("$",end="  ")
    print()   # new line

$
$  $
$  $  $
$  $  $  $
$  $  $  $  $

In [28]:
for row in range(6,0,-1):
    for column in range(1,1+row):
        print("$",end="  ")
    print()   # new line

$  $  $  $  $  $
$  $  $  $  $
$  $  $  $
$  $  $
$  $
$

In [ ]:
# 1-10
# prime numbers: 2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1):   #num=1 num=2 num=3 num=4
    c=0
    for var in range(1,num+1): #(1,1)(1,2)(1,3)(1,4)

###  nested while
- loop inside another loop
#### syntax::  
initilization  
while condition:  
statements  
increment/decrement

In [19]:
# 1 to 10 tables
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### Jump statements
#### We called as unconditional jumps
- Break
- Continue
- Pass

### Break
- Terminates the current loop statements
- Break is a keyword

In [25]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [26]:
i=1
while(i<=10):
    print(i)
    i+=1
    if(i==6):
        break

1
2
3
4
5

### Continue
- It skips only current iteration and continue the next iteration.
- Continue is also a keyword

In [27]:
for i in range(10):
    if i==6:
        continue
        print("anil")
    print(i)

0
1
2
3
4
5
7
8
9

In [28]:
# print odd numbers using continue statements
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

### Pass
- It is a keyword
- When we need condition scientifically correct need to change another operation
- It is a null operation
- Pass statement we use to create empty classes also

In [29]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

### String
- String is a group of characters
- String is a derived datatype and immutable
- All strings return a new values

In [40]:
a="vasavicollege"
print(type(a))

<class 'str'>

In [41]:
print(len(a))

13

In [42]:
print(min(a))
print(max(a))
print(sorted(a))
# print(sum(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [43]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

#### Slicing syntax::(start:end:step)
- positive indexing(left to right)
- negative indexing(right to left)

In [62]:
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[12])
print(s[-1])
print(s[-2])
print(s[::])
print(s[-14])
print(s[-15])
print(s[-9])
print(s[0:5])
print(s[-15:-1])

15
p
n
h
p
o
python workshop
y
p

pytho
python worksho

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
p="python workshop"
print(p.capitalize())

Python workshop

In [8]:
s='vasavi college'
n="vasavi college"
s1='''iam from
narasapuram
i am anil kumar'''
s2='''studying
b.tech in
SVEC'''

In [9]:
print(s1)

iam from
narasapuram
i am anil kumar

In [10]:
print(s2)

studying
b.tech in
SVEC

In [11]:
print(s)
print(n)

vasavi college
vasavi college

In [12]:
print(len(s1))

36

In [13]:
print(len(s2))

23

In [17]:
n="AnIl kuMaR"
print(n)
print(n.upper())
print(n.lower())

AnIl kuMaR
ANIL KUMAR
anil kumar

In [18]:
m="python programming lauguage"
print(m)
print(m.title())

python programming lauguage
Python Programming Lauguage

In [19]:
s2="workshop"
s3 ="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [20]:
s7="India Is My Country"
s7.istitle()

True

In [21]:
s7="India is My COuntry"
s7.istitle()

False

In [22]:
s8=" "
s8.isspace()

True

+ isdigit-which is used to identify the digits in a diven string
+ isalpha-which returns true,alphabets present in a given string

In [25]:
r="python"
r.isdigit()

False

In [26]:
r.isalpha()

True

In [27]:
s="2345456"
s.isalnum()

True

In [38]:
j="python3 is latest version and today is thursday we are preparing programs"
j.split()

['python3',
 'is',
 'latest',
 'version',
 'and',
 'today',
 'is',
 'thursday',
 'we',
 'are',
 'preparing',
 'programs']

In [31]:
k="58766278h"
k.isalnum()

True

In [34]:
z="7643673467a"
z.isalnum()

True

In [39]:
j.split('t')

['py',
 'hon3 is la',
 'es',
 ' version and ',
 'oday is ',
 'hursday we are preparing programs']

In [47]:
s="AnIl KuMaR"
s2=''
for i in s:
    if i.islower():
        s2 +=i.upper()
    else:
        s2 +=i.lower()
print(s2)

aNiL kUmAr

In [48]:
#swapcase
s.swapcase()

'aNiL kUmAr'

In [59]:
#count:: to know the number of occurences
l="srivasaviengineeringcollege"
l.count('g')

3

In [64]:
l.index('g') #searching starts from the beginning

11

In [65]:
# find- it will return index position of that character
l.find('g')

11

In [69]:
l.rindex('g') #searching starts from the ending

25

In [72]:
# replace -used to replace the old character
# strip -used to remove white spaces by default
j="hi vasavi students"
j.replace('hi','bye')

'bye vasavi students'

In [71]:
j.strip()

'hi vasavi students'

In [73]:
i="   hi friends  "
i.strip()

'hi friends'

In [74]:
i.lstrip()

'hi friends  '

In [75]:
i.rstrip()

'   hi friends'

In [78]:
# joint
# center
# startswith
# endswith
s="thursday"
'@'.join(s)

't@h@u@r@s@d@a@y'

In [79]:
' '.join(s)

't h u r s d a y'

In [81]:
s.center(1)

'thursday'

In [82]:
s2="today is the 3rd day"
len(s2)
s2.zfill(25)

'00000today is the 3rd day'

In [83]:
s2.startswith('to')

True

In [84]:
s2.startswith('day')

False

### Data structures
- list
  - list is one of the data strctures in python 
  - list is mutable
  - Represented with []
  - Slicing,Indexing are same as the strings concepts.
- Tuple
- Dictionaries
-DT are two types
   - Mutable  
     - we can't change it once it declared.
     - ex:String,Tuple
   - Immutable
     - we can change at any time after its declaration.
     - ex:List,Dectionaries

In [86]:
li=[2,4,7,4,9,1]
print(li)

[2, 4, 7, 4, 9, 1]

In [87]:
len(li)

6

In [88]:
print("length of the list",len(li))
print("max one of the list",max(li))
print("min one of the list",min(li))

length of the list 6
max one of the list 9
min one of the list 1

In [89]:
a=['apple',5,8,24,6]
b=[4,8,'today',4]

In [90]:
a+b  #concatination

['apple', 5, 8, 24, 6, 4, 8, 'today', 4]

In [91]:
b+a

[4, 8, 'today', 4, 'apple', 5, 8, 24, 6]

In [92]:
# repetetion
a*3

['apple', 5, 8, 24, 6, 'apple', 5, 8, 24, 6, 'apple', 5, 8, 24, 6]

In [93]:
(a+b)*2

['apple',
 5,
 8,
 24,
 6,
 4,
 8,
 'today',
 4,
 'apple',
 5,
 8,
 24,
 6,
 4,
 8,
 'today',
 4]

In [94]:
'today' not in a

True

In [95]:
'apple' in a

True

In [96]:
'giughiuk' in a

False

In [97]:
names=['anil','balu','gopi','surya','rakesh','nitish']
names[0]

'anil'

In [98]:
names[5]

'nitish'

In [99]:
names[:5]

['anil', 'balu', 'gopi', 'surya', 'rakesh']

In [100]:
names[1:3]

['balu', 'gopi']

In [102]:
s="ramesh"
s[0]
s[:3]
s[0:3]
s[2:6]
s[2:]

'mesh'

In [103]:
list=['vasavi','college','students','hostel']

In [104]:
list(2:)

SyntaxError: invalid syntax (Temp/ipykernel_4532/265126092.py, line 1)