## while
- it executes block or set of instructions until the conditions
- while we don't the range
- execute faster than the for loop
+ user incrementation

### while syntax
initilization  
while condition:  
    statements  
    increment/decrement

In [5]:
n=1
while n<4:
    print("vasavi college")
    n=n+1

vasavi college
vasavi college
vasavi college

In [9]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [12]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1    #1234%10=4 123%10=3 12%10=2
    s=s//10
    print("\nDigit count:",c)

456789

Digit count: 1

Digit count: 2

Digit count: 3

Digit count: 4

Digit count: 5

Digit count: 6

In [15]:
# check the given palindrome or not
# 121--121
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not palindrome")

121
palindrome

### Nested for loop
#### syntax::
- for iter in range(start,end,step):  
    for iter in range(start,end,step):
        statement1
        ----------
        statementn

### Matrix format
- rows,columns
- 2-Dimensional  
     1 2  
     3 2

In [17]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()   # new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [21]:
for row in range(1,5):
    for column in range(1,5):
        print("$",end="  ")
    print()   # new line

$  $  $  $
$  $  $  $
$  $  $  $
$  $  $  $

In [24]:
for row in range(1,6):
    for column in range(1,row+1):
        print("$",end="  ")
    print()   # new line

$
$  $
$  $  $
$  $  $  $
$  $  $  $  $

In [28]:
for row in range(6,0,-1):
    for column in range(1,1+row):
        print("$",end="  ")
    print()   # new line

$  $  $  $  $  $
$  $  $  $  $
$  $  $  $
$  $  $
$  $
$

In [ ]:
# 1-10
# prime numbers: 2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1):   #num=1 num=2 num=3 num=4
    c=0
    for var in range(1,num+1): #(1,1)(1,2)(1,3)(1,4)

###  nested while
- loop inside another loop
#### syntax::  
initilization  
while condition:  
statements  
increment/decrement

In [19]:
# 1 to 10 tables
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### Jump statements
#### We called as unconditional jumps
- Break
- Continue
- Pass

### Break
- Terminates the current loop statements
- Break is a keyword

In [25]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [26]:
i=1
while(i<=10):
    print(i)
    i+=1
    if(i==6):
        break

1
2
3
4
5

### Continue
- It skips only current iteration and continue the next iteration.
- Continue is also a keyword

In [27]:
for i in range(10):
    if i==6:
        continue
        print("anil")
    print(i)

0
1
2
3
4
5
7
8
9

In [28]:
# print odd numbers using continue statements
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

### Pass
- It is a keyword
- When we need condition scientifically correct need to change another operation
- It is a null operation
- Pass statement we use to create empty classes also

In [29]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

### String
- String is a group of characters
- String is a derived datatype and immutable
- All strings return a new values

In [40]:
a="vasavicollege"
print(type(a))

<class 'str'>

In [41]:
print(len(a))

13

In [42]:
print(min(a))
print(max(a))
print(sorted(a))
# print(sum(a))

a
v
['a', 'a', 'c', 'e', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [43]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

#### Slicing syntax::(start:end:step)
- positive indexing(left to right)
- negative indexing(right to left)

In [62]:
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[12])
print(s[-1])
print(s[-2])
print(s[::])
print(s[-14])
print(s[-15])
print(s[-9])
print(s[0:5])
print(s[-15:-1])

15
p
n
h
p
o
python workshop
y
p

pytho
python worksho